*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  // prevent highlighting
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button {
  all: unset;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

li {
  all: unset;
}
