*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
}

button {
  all: unset;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

li {
  all: unset;
}
