@use 'sass:math';

@function rem($size) {
  $rem-size: math.div($size, 16);
  @return #{$rem-size}rem;
}

$gap: 4px;
@function gap($num) {
  @return $gap * $num;
}

@mixin position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin cool-bg {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgb(73, 133, 124);
  background: linear-gradient(40deg, #18303c 30%, #79ba96 100%);
  &::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: -20%;
    left: -20%;
    width: 150%;
    height: 150%;
    background-image: url('@/assets/images/pokeball.svg');
    background-size: 7%;
    background-repeat: repeat;
    transform: rotate(-25deg);
    opacity: 0.15;
  }
}
